<%- include('../partials/header'); %>
<%- include('../partials/navbarCustomer'); %>

    <div class="container" style="width:60%">
      <br>
      <body>
      <form  method="POST">
        <div class="my-3">
          <div style="text-align: center;">
          <h3 ><%= restaurant.Name %></h3>
          </div>
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="Name" placeholder="Enter name" name="Name" minlength="3" maxlength="35" title="Enter Name" required ><span class="validity"></span>
        </div>
        <div class="mb-3 mt-3">
            <label for="Phone" class="form-label">Phone:</label> 
            <input type="text" class="form-control" id="Phone" placeholder="Enter 10 digit Phone" name="Phone" pattern="[0-9]{10}" title="Enter 10 Digit Phone number" required><span class="validity"></span>
            
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="Email" placeholder="Enter email" name="Email" title="Enter valid email address" required ><span class="validity"></span>
          </div>
          <div class="mb-3 mt-3">
            <label for="date" class="form-label">Booking Date:</label>
            <input type="text" class="form-control" name="Date" value="<%= date %>" readonly="readonly">
          </div>
          <div class="mb-3 mt-3">
            <label for="time" class="form-label">Booking Time:</label>
            <input type="text" class="form-control" name="Time" value="<%= time %>" readonly="readonly">
          </div>
          <div class="mb-3 mt-3">
            <label for="guest" class="form-label">Number of Guests:</label>
            <input type="number" class="form-control" id="Guests" value="<%=guests%>" name="Guests" max="6" min="1"><span class="validity"></span>
          </div>
          <div class="mb-3 mt-3">
            <label for="notes">Additional Notes:</label>
            <textarea class="form-control" rows="5" id="Notes" name="Notes"></textarea>
          </div>
          <div style="text-align:center">
            <button  type="submit" class="btn btn-secondary">Confirm Reservation</button>
            <div class="btn btn-secondary">
              <a href="/reservation/availability/<%=restaurant._id%>">
                Change Reservation
              </div>
          </div>
        </a>
      </form>
      </body>
      <br>
      <br>
      <br>
      <br>
    </div>
    
<%- include('../partials/footer'); %>
