<%- include('../partials/header'); %>

    <div class="container">
      <br>
      <h1>Reservation</h1>
      <form  method="POST">
        <div class="mb-3 mt-3">
          <input type="text" class="form-control" name="title" value="<%= restaurant.Name %>" readonly="readonly">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="Name" placeholder="Enter name" name="Name">
        </div>
        <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Phone:</label> 
            <input type="text" class="form-control" id="Phone" placeholder="Enter Phone" name="Phone">
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="Email" placeholder="Enter email" name="Email">
          </div>
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Booking Date:</label>
            <input type="text" class="form-control" name="Date" value="<%= date %>" readonly="readonly">
          </div>
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Booking Time:</label>
            <input type="text" class="form-control" name="Time" value="<%= time %>:00" readonly="readonly">
          </div>
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Number of Guests:</label>
            <input type="number" class="form-control" id="Guests" value="<%=guests%>" name="Guests" max="6" min="1">
          </div>
          <div class="mb-3 mt-3">
            <label for="notes">Additional Notes:</label>
            <textarea class="form-control" rows="5" id="Notes" name="Notes"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Confirm Reservation</button>
      </form>
      <br>
      <br>
      <br>
      <br>
    </div>
    
<%- include('../partials/footer'); %>
