<%- include('../partials/header'); %>
<%- include('../partials/navbarVendor'); %>

<div class="container my-3 pb-5">
<div class="jumbotron bg-light px-5 py-4">
    <form method="POST">
      <div class="p-1 text-center">
        <h4 class="display-6 my-4">Modify Customer Details</h4>
        <h6>Requests to change number of guests, date or time are subject to availability. Please cancel and rebook guest for these requests.</h6>
      </div>
      <div class="row">
        <div class="col">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="Name" placeholder="Enter name" name="Name"
            value="<%= reservation.Guest %>">
        </div>
        <div class="col">
          <label for="phone" class="form-label">Phone:</label>
          <input type="text" class="form-control" id="Phone" placeholder="Enter Phone" name="Phone"
            value="<%= reservation.Phone %>">
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="Email" placeholder="Enter email" name="Email"
            value="<%= reservation.Email %>">
        </div>
        <!-- <div class="col">
          <label for="time" class="form-label">Reservation Date and Time:</label>
          <input class="form-control" id="Time" readonly="readonly" value="<%= restaurant.Reservations[0].Date.toLocaleString("en-US", {weekday: "short", month:"long", day: "numeric", year:"2-digit", hour:"numeric", minute:"2-digit", hour12: true}) %>" name="Time">
        </div> -->
        <div class="col">
          <label for="phone" class="form-label">Booking Date:</label>
          <input type="date" class="form-control" id="Date" name="Date" readonly="readonly" value="<%= resDate %>">
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col">
          <label for="phone" class="form-label">Number of Guests:</label>
          <input type="number" readonly="readonly" class="form-control" id="Guests" placeholder="Enter number of Guests" name="Guests" 
            max="20" min="1" value="<%= reservation.NumberOfGuests %>">
        </div>
      </div>
      <div class="mb-3 mt-3">
        <label for="notes">Additional Notes:</label>
        <textarea class="form-control" rows="5" id="Notes" name="Notes" placeholder="<%= reservation.Notes %>"value="<%= reservation.Notes %>"></textarea>
      </div>
      <div class="row">
        <div class="col">
          <button name="choice" type="submit" class="btn btn-primary" value='1'>Modify Reservation</button>
          <button name="choice" type="submit" class="btn btn-danger" value='2'>Cancel Reservation</button>
          <a href="/reservation/list/<%= restaurant._id %>" class="btn btn-secondary">Return to Reservations</a>
        </div>
      </div>
    </form>
  </div>
</div>

    

    <%- include('../partials/footer'); %>