<%- include('../partials/header'); %>

<div class="container">
  <br />
  <h1>Restaurant Details</h1>
  <form method="POST">
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Name of Restaurant:</label>
      <input
        type="text"
        class="form-control"
        id="Name"
        name="Name"
        placeholder="Enter Restaurant Name"
        value="<%=restaurant.Name%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="comment">Description:</label>
      <textarea
        class="form-control"
        rows="5"
        id="Description"
        name="Description"
        value="<%=restaurant.Description%>"
        required
      >
<%=restaurant.Description%></textarea
      >
    </div>

    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        id="Email"
        placeholder="Enter email"
        name="Email"
        value="<%=restaurant.Email%>"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="address" class="form-label">Address:</label>
      <input
        type="text"
        class="form-control"
        id="Address"
        placeholder="Enter Address"
        name="Address"
        value="<%=restaurant.Address%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="phone" class="form-label">Phone:</label>
      <input
        type="text"
        class="form-control"
        id="Phone"
        placeholder="Enter Phone number"
        name="Phone"
        value="<%=restaurant.Phone%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="capacity" class="form-label">Capacity:</label>
      <input
        type="text"
        class="form-control"
        id="Capacity"
        placeholder="Enter capacity"
        name="Capacity"
        value="<%=restaurant.Capacity%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="tags" class="form-label">Tags:</label>
      <input
        type="text"
        class="form-control"
        id="Tags"
        placeholder="Enter Tags"
        name="Tags"
        pattern="[a-z]"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="Hours" class="form-label">Hours of Operation:</label>
      <input
        type="text"
        class="form-control"
        id="Hours"
        placeholder="Enter Hours of operation"
        name="Hours"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="capacity" class="form-label">Images:</label>
      <input
        type="text"
        class="form-control"
        id="ImageLinks"
        placeholder="Enter links seperated by comma"
        value="<%=restaurant.ImageLinks%>"
        name="ImageLinks"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="capacity" class="form-label">Menu:</label>
      <input
        type="text"
        class="form-control"
        id="Menu"
        placeholder="Enter link for menu"
        value="<%=restaurant.Menu%>"
        name="Menu"
        required
      /><span class="validity"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="" class="btn btn-danger">Submit</button>
  </form>
</div>

<%- include('../partials/footer'); %>
