<%- include('../partials/header'); %>
<%- include('../partials/navbarCustomer'); %>

<div class="mt-4 mb-5 container grey-border">
  <h1 class="my-3 text-center">Restaurant Details</h1>
  <form method="POST" class=" my-2 mx-4">
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Name of Restaurant:</label>
      <input
        type="text"
        class="form-control"
        id="Name"
        name="Name"
        placeholder="Enter Restaurant Name"
        value="<%=restaurant.Name%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="comment">Description:</label>
      <textarea
        class="form-control"
        rows="5"
        id="Description"
        name="Description"
        value="<%=restaurant.Description%>"
        required
><%=restaurant.Description%></textarea>
    </div>

    <div class="mb-3 mt-3">
      <label for="website" class="form-label">Website:</label>
      <input
        type="text"
        class="form-control"
        id="website"
        placeholder="Enter Website"
        name="Website"
        value="<%=restaurant.Website%>"
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="address" class="form-label">Address:</label>
      <input
        type="text"
        class="form-control"
        id="Address"
        placeholder="Enter Address"
        name="Address"
        value="<%=restaurant.Address%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="phone" class="form-label">Phone:</label>
      <input
        type="text"
        class="form-control"
        id="Phone"
        placeholder="Enter Phone number"
        name="Phone"
        value="<%=restaurant.Phone%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="capacity" class="form-label">Capacity:</label>
      <input
        type="text"
        class="form-control"
        id="Capacity"
        placeholder="Enter capacity"
        name="Capacity"
        value="<%=restaurant.Capacity%>"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      
      <label for="CuisineTags" class="form-label">Cuisine:</label>
      <fieldset>
        <div>
          <input type="checkbox" id="Bar" name="CuisineTags[]" value="Bar">
          <label for="scales">Bar</label>
        </div>
        <div>
          <input type="checkbox" id="FastFood" name="CuisineTags[]" value="Fast Food">
          <label for="horns">Fast Food</label>
        </div>
        <div>
          <input type="checkbox" id="French" name="CuisineTags[]"value="French">
          <label for="horns">French</label>
        </div>
        <div>
          <input type="checkbox" id="Hakka" name="CuisineTags[]"value="Hakka">
          <label for="horns">Hakka</label>
        </div>
        <div>
          <input type="checkbox" id="Indian" name="CuisineTags[]"value="Indian">
          <label for="horns">Indian</label>
        </div>
        <div>
          <input type="checkbox" id="Italian" name="Italian"value="CuisineTags[Italian]">
          <label for="horns">Italian</label>
        </div>
        <div>
          <input type="checkbox" id="Thai" name="Thai"value="CuisineTags[Thai]">
          <label for="horns">Thai</label>
        </div>
    </fieldset>
      <input
        type="text"
        class="form-control"
        id="Tags"
        placeholder="Other"
        name="CuisineTags[]"
        pattern="[a-z]"
        
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="Hours" class="form-label">Hours of Operation:</label>
      <table>
    
        <tbody>
            <tr>
                <td>Sunday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
            </tr>
          <tr>
                <td>Monday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
            </tr>
          <tr>
                <td>Tuesday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
            </tr>
          <tr>
                <td>Wednesday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
            </tr>
          <tr>
                <td>Thursday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
            </tr>
          <tr>
                <td>Friday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time"required /><span class="validity"></span></td>
            </tr>
          <tr>
                <td>Saturday</td>
                <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
              <td><input id="appt-time" type="time" name="appt-time" required/><span class="validity"></span></td>
            </tr>
        </tbody>
    </table><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="capacity" class="form-label">Images:</label>
      <input
        type="text"
        class="form-control"
        id="ImageLinks"
        placeholder="Enter links seperated by comma"
        value="<%=restaurant.ImageLinks%>"
        name="ImageLinks"
        required
      /><span class="validity"></span>
    </div>
    <div class="mb-3 mt-3">
      <label for="capacity" class="form-label">Menu:</label>
      <input
        type="text"
        class="form-control"
        id="Menu"
        placeholder="Enter link for menu"
        value="<%=restaurant.Menu%>"
        name="Menu"
        required
      /><span class="validity"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Submit</button>
    <button type="reset" class="btn btn-outline-secondary">Clear</button>
  </form>
</div>

<%- include('../partials/footer'); %>
