<%- include('../partials/header'); %>
<%- include('../partials/navbarCustomer'); %>

<div class="container" style="font-family:Arial, Helvetica, sans-serif;color:darkslategray">
    <div class="container-fluid">
        <div class="row flex-nowrap bg-secondary bg-opacity-10 " >      
            <div class="col-12 col-sm-5 col-md-9" style="display: flex; margin:0.5em;border:2px solid lightgray">
                    <div>
                    <div class="image-container" style="margin:0.3em">
                      <img id="mainImg" src="<%= restaurant.ImageLinks[0] %>" class="product-detail-image" />
                    </div>
                     <div style="display:flex">
                        
                   <% var index = 2 %> 
                        <%  for(let idx =0;idx < restaurant.ImageLinks.length; idx++ ){  %>         
                    <div class="small-images-container">
                        <img src="<%= restaurant.ImageLinks[idx]%>" class=  "small-image"  />                   
                    </div> 
                    <%  } %> 
                 
                     </div>
                    </div>      
                    <div class="product-detail-desc">
                      
                        <h1><%=restaurant.Name%></h1>
                        <p><%=restaurant.Description %></p>
                        
                        <div style="float:right; margin-top:200px;">
                       <a href="/reservation/availability/<%=restaurant._id%>" class="btn btn-secondary my-2" style="margin-top:2em; ">Grab A Table</a>
                       </div>
                       <div style="float:right; margin-top:200px; padding-right: 10px;">
                        <a href="<%=restaurant.Menu%>" target="_blank" class="btn btn-secondary my-2" style="margin-top:2em; ">Menu</a>
                        </div>
                      </div>            
            </div>
             <div class="sideBox">

                <div class="hoursBox">
                    <div style="text-align: center;">
                        <b><i>HOURS OF OPERATION</i></b>
                    </div>
                    <div>
                        Sunday &nbsp;<span> -</span>
                    </div>
                    
                    <div>
                        Monday<span>-</span>
                    </div>
                    <div>
                        Tuesday<span>-</span>
                    </div>
                    <div>
                        Wednesday<span>-</span>
                    </div>
                    <div>
                        Thursday<span>-</span>
                    </div>
                    <div>
                        Friday<span>-</span>
                    </div>
                    <div>
                        Saturday<span>-</span>
                    </div>  
                </div>
                <div class="contactBox">
                    <div style="text-align: center;">
                        <b><i>CONTACT US</i></b>
                    </div>
                    <div>☎&nbsp;<span><%=restaurant.Phone%></span></div>
                    <div>✉&nbsp;<span><%=restaurant.Email%></span> </div>
                </div>
                <div class="locationBox">
                    <div style="text-align: center;">
                        <b><i>LOCATION</i></b>
                    </div>
                    <div>𖡡&nbsp;<span><%=restaurant.Address%></span></div>
                </div>

                
             </div>
             
        </div>
         
    </div>

</div>
<script>                       
    let smallImages = document.getElementsByClassName("small-image");
     let mainImage = document.getElementById("mainImg");
    for(let i =0;i < smallImages.length; i++)
    {
       smallImages[i].onclick = function(){
           mainImage.src = this.src;
       }
    } 
  </script>    

